body {
	padding: 0;
	margin: 0;
}
html, body{
	height: 100%;
}
#map{
	/*height: 100%;*/
	position: absolute;
	top: 50px;
	bottom: 0;
	/*border: 1em green solid;*/
	width: 100%;
}
.navbar{
	margin-bottom: 0;
	z-index: 5000;
}
.modal-dialog{
	margin:80px auto;
}
.leaflet-popup{
	z-index: 70;
}
#infoBox{
	top: 60px;
	left: 50px;
	position: absolute;
	z-index: 80;
}